*{
    margin: 0;
    padding: 0;
    border: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-width: 320px;
}
[class*="__container"]{
    max-width: 970px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.wrapper{
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: row;
   
}

.page{
    flex:1 1 auto;
}
h1,h2,h3,h4,h5,h6,a,li,ul{
    /* font-size: inherit;
    font-weight: inherit; */
    text-decoration: none;
    list-style: none;
    margin: 0;
    color: inherit;
}
.title{
    font-family: "OpenSans";
    color: #fff;
    
}
.title-dark{
    color:#48555B;
}
img{
     display:inline-block;
    vertical-align: top; 
}
button{
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    color: inherit;
    background-color:transparent;
}
.header{
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.header__container{
   display: flex;
   justify-content: center;
}
.header__logo{
    padding-top: 40px;
    /* padding-bottom: 5px; */
    
  
}
.main{
    background-image: url(./img/bg.png);
    background-repeat:repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 1438px;
    height: 770px;
    text-align: center;
}
.main__content{

}
.main__title{
    color: #FFF;
padding-top: 360px;
text-align: center;
font-family: "BebasNeueBold";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;

}
.main__label{
    color: #FFF;
text-align: center;
font-family: "OpenSans";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main__name{
    color: #FFF;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 220px;
margin-bottom: 70px;
}
.main__img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main__container{
    /* position:absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0; */

}
.navigation__container{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 25px;
padding-bottom: 25px;
margin-bottom: 60px;
}
.nav__logo{
    transform: translateY(20%);
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.nav__list{
    position: relative;
}
.nav__list::after
{
    content: "";
    position: absolute;
    background-color: green;
    height: 2px;
    width:100% ;
    bottom: -8px;
    left: 0;
/* color: blue; */
transform: scaleX(0);
    transition:all 1s ease;
    /* text-decoration:underline; */
}
.nav__list:hover{
color:green;
}
.nav__list:hover::after{
transform: scaleX(1);
 transition:all 1s ease;
}
.nav__list{
  color:#48555B;
font-family: "OpenSans";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* letter-spacing: 1.091px; */
}

.story__box{
    position: relative;
    display: grid;
    grid-template-columns: 50% 1fr;
}
.story__title{
    color: #48555B;
text-align: center;
font-family: "OpenSans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.story__title::after{
    content: "";
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    display: block;
    background-color: #00A4E5;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 75px;
}
.story__content{
    width: 405.076px;
}
.story__label{
    color: #48555B;
    width: 405.076px;
    height: 81px;
    font-family: "OpenSans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    letter-spacing: 0.188px;
}
.label-blue{
    color: #16ACE8;
}
.story__text{
    width: 405.076px;
height: 115px;
color: #48555B;

font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
}
.work-img{
    display: flex;
    gap: 165px;
    /* justify-content:space-around; */
    /* margin-top: 75px; */
    margin-bottom: 120px;
}
.work__list{
    position: relative;
    gap:10px;
}
.work-title{
    position: absolute;
}
.overlei1{
    position: absolute;
    color: #FFF;
    width: 110px;
    height: 58px;
    margin-top: 15px;
    margin-left: 15px;
font-family: "OpenSans";
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 29px; /* 120.833% */
/* letter-spacing: 0.188px; */
}
.cap__container{
    margin-top: 120px;
    margin-bottom: 115px;
}
.cap__title{
    color: #48555B;
width: 195px;
height: 25px;
font-family: "OpenSans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cap__title::after{
    content: "";
    width: 25%;
    height: 2px;
    display: block;
    background-color: #00A4E5;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 80px;
}
.cap__contecst{
display: flex;
justify-content: space-between;
align-items: center;
}
.cap__label{
    color: #48555B;
width: 405.404px;
height: 38px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 172.727% */
letter-spacing: 0.2px;
}
.cap__box{
    display: flex;
    gap: 30px;
}
.button{
    color: #FFF;
    text-align: center;
font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 4px;
background-color:#00A4E5;
padding: 11px 30px;
}
.cap__content{
    margin-top: 80px;
    
}
.cap__item:nth-child(1)::before{
    background-image: url(./img/logo\ cap1.png);
}
.cap__item:nth-child(2)::before{
    background-image: url(./img/logo\ cap\ 2.png);
}
.cap__item:nth-child(3)::before{
background: url(./img/logo\ cap\ 3.png);
}
.cap__item::before{
content: "";
width: 65.625px;
height: 75px;
display: block;
margin-bottom: 25px;
}
.cap__item{
    outline: 1px solid #E6E6E6;
    background-color: #FFF;
    width: 295px;
    height: 330px;
    padding: 30px 22px 40px 23px;
   
}
.cap__list{
    display: flex;
    gap: 30px;
}
.cap__title2{
    color: #48555B;
margin-bottom: 13px;
font-family: "OpenSans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.cap__text{
    color: #48555B;

font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
}
.amaisingBuild{
    background: url(./img/img\ big1.jpg);
    background-repeat:repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    text-align: center;
}
.amaisingB__title{
    padding-top: 120px;
    color: #48555B;
width: 350px;
margin-right: auto;
margin-left: auto;
margin-bottom: 35px;

font-family: 'OpenSans';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
letter-spacing: 0.15px;
}
.form-input{
    width: 250px;
height: 40px;
    border-radius: 4px;
    border: 1px solid #979797;
background: #FFF;
padding-left: 16px;
}
.form-email:hover,
.form-input:focus{
border:1px solid blue ;
}
.emailForm{
    background-color:#171819;
    /* height: 100px;
    max-width: 1440px; */
}
.emailForm__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.emailForm__title{
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 70px;
}
.form-button{
  padding: 12px 49px 11px 48px;
  /* transform: translateX(-5px); */
}
.form-email{
    display: flex;
    align-items: stretch;
}
.footer{
    background: #141A20;
}
.footer__context{
    display: flex;
    padding-top: 42px;
    gap: 40px;
    height: 240px;
    margin-bottom: 40px;
}
.footer__label1{
    margin-bottom: 15px;
    color: #FFF;
text-align: left;

font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.heade__logo{
    margin-bottom: 15px;
}
.footer__text{
    color: #FFF;
    width: 250px;
    height: 76px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px; 
}
.footer__list2{
    color: #FFF;
margin-bottom: 2px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
}

.footer__menu1{
    color: #FFF;
padding-top: 25px;
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.footer__adres,
.footer__tel,
.footer__email{
    color: #FFF;
margin-bottom: 5px;

    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.footer__adres{

}
.dezign{
    background-color: #171819;
}
.dezign__text{
    color: #FFF;
text-align: center;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-top: 23px;
    padding-bottom: 23px;
}
.button:hover,
.button:focus{
    color: #48555B;
    background-color:aqua;
transition-duration: 1s;
}
