*{
    margin: 0;
    padding: 0;
    border: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-width: 320px;
}
[class*="__container"]{
    max-width: 970px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.wrapper{
    min-height: 100%;
    overflow: clip;
   
}

.page{
    flex:1 1 auto;
}
h1,h2,h3,h4,h5,h6,a,li,ul{
    /* font-size: inherit;
    font-weight: inherit; */
    text-decoration: none;
    list-style: none;
    margin: 0;
    color: inherit;
}
.title{
    font-family: "OpenSans";
    color: #fff;
    
}
.title-dark{
    color:#48555B;
}
img{
     display:inline-block;
    vertical-align: top; 
}
button{
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    color: inherit;
    background-color:transparent;
}
.header{
    background-image: url(./img/bg.png);
    background-repeat:repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 1438px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.header__content{
   display: flex;
   justify-content: center;
}
.header__logo{
    padding-top: 40px; 
}
.herrou__title{
    color: #FFF;
padding-top: 320px;
text-align: center;
font-family: "BebasNeueBold";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;

}
@media (max-width:780px) {
   .herrou__title{
    padding-top:260px ;
    font-size: 40px;
   }
}
.herrou__label,
.herrou__name{
    color: #FFF;
text-align: center;
font-family: "OpenSans";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.herrou__name{
 font-size: 11px;
margin-top: 220px;
padding-bottom: 70px;
}
@media(max-width:780px){
    .header {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Додаємо цей стиль для адаптивного фона */
    }
}
.navigation__container{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 25px;
padding-bottom: 25px;
margin-bottom: 60px;
}
.nav__logo{
    transform: translateY(20%);
}
.nav__body{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.burger {
    display: none; /* Початково ховаємо кнопку бургера */
}

.burger-line {
    width: 40px;
    height: 30px;
    background-color: #333;
    margin: 6px 0;
    display: block;
    transition: 0.4s;
}

/* Стилі для мобільного режиму */
@media screen and (max-width: 700px) {
   .burger{
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    background-color: transparent;
    color: #000;
   }
   .burger-line{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left:0;
    /* background-color: #333; */
    background-color: currentColor;
    transition-duration: 0.4s;
   }
   .burger::before,
   .burger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    transform: translateX(-50%);
    transition-duration: 0.4s;
    background-color: currentColor;
   }
   .burger::before{
    top: 0;
   }
   .burger::after{
    top:10px;
   }

   
   .burger.is-active .burger-line{
    transform: scale(0);
   background-color: #f50808;
transition-duration: 0.5s;
   }
   .burger.is-active::before{
    transform: rotate(-50deg);
    top: 50%;
    transition-duration: 0.5s;
   }
   .burger.is-active::after{
    transform: rotate(50deg);
    top: 50%;
    transition-duration: 0.5s;
   }
   .nav__list{
    position: absolute;
    right: 70px;
    width: 300px;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    text-align: center;
    background-color:#191919;
    opacity: 0;
    transform: translateX(200%);
   }
   .nav__list.open{
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
    margin-bottom: 20px;
   }
   .nav__item a{
    font-size: 20px;
   }
}

.nav__item{
  
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px;
}
.nav__list{
    display: flex;
    gap:40px;
}
.nav__item{
    position: relative;
}
.nav__item::after
{
    content: "";
    position: absolute;
    background-color: green;
    height: 2px;
    width:100% ;
    bottom: -8px;
    left: 0;
/* color: blue; */
transform: scaleX(0);
    transition:all 1s ease;
    /* text-decoration:underline; */
}
.nav__item:hover{
color:green;
}
.nav__item:hover::after{
transform: scaleX(1);
 transition:all 1s ease;
}
.nav__list{
  color:#48555B;
font-family: "OpenSans";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* letter-spacing: 1.091px; */
}
.story__container{
    height: 100%;
}
.story__box{
    position: relative;
    display: grid;
    grid-template-columns: 50% 1fr;
}
.story__title{
    color: #48555B;
text-align: center;
font-family: "OpenSans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.story__title::after{
    content: "";
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    display: block;
    background-color: #00A4E5;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 75px;
}
.story__content{
    width: 405.076px;
}
@media(max-width:480px){
    .story__content{
        width: 100%;
    }
}
@media(max-width:1070px){
    .story__content{
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
       
    }
    .story__box{
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}
.story__label{
    color: #48555B;
    width: 405.076px;
    height: 81px;
    font-family: "OpenSans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    letter-spacing: 0.188px;
}
@media(max-width:480px){
    .story__label{
        width: 100%;
    }
}
.label-blue{
    color: #16ACE8;
}
.story__text{
    width: 405.076px;
height: 115px;
color: #48555B;

font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
}
@media(max-width:480px){
    .story__text{
        width: 100%;
    }
}

.work-img{
    display: flex;
    gap: 165px;
    margin-bottom: 120px;
}
@media(max-width:1070px){
    .work-img{
        display: none;
    }
}
.work__list{
    position: relative;
    gap:10px;
}
.work-title{
    position: absolute;
}
.overlei1{
    position: absolute;
    color: #FFF;
    width: 110px;
    height: 58px;
    margin-top: 15px;
    margin-left: 15px;
font-family: "OpenSans";
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 29px; /* 120.833% */
/* letter-spacing: 0.188px; */
}
.cap__container{
    margin-top: 120px;
    margin-bottom: 115px;
}
.cap__title{
    color: #48555B;
width: 195px;
height: 25px;
font-family: "OpenSans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media (max-width:920px){
    .cap__title{
        margin-right: auto;
        margin-left: auto;
    }
    .cap__title::after{
        width: 100%;
    }
}
.cap__title::after{
    content: "";
    width: 25%;
    height: 2px;
    display: block;
    background-color: #00A4E5;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 80px;
}
@media(max-width:920px){
    .cap__title::after{
        transform: translateX(70px);
    }
}
.cap__contecst{
display: flex;
justify-content: space-between;
align-items: center;
}
@media (max-width:920px){
    .cap__contecst{
        display: block;
        text-align: center;
    }
}
.cap__label{
    color: #48555B;
width: 405.404px;
height: 38px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 172.727% */
letter-spacing: 0.2px;
}
.cap__box{
    display: flex;
    gap: 30px;
}
@media (max-width:920px){
    .cap__box{
        display:block;
        text-align: center;
    }
    .cap__label{
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }
}
@media (max-width:550px){
    .cap__label{
        width: 100%;
    }
}
.button{
    color: #FFF;
    text-align: center;
font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 4px;
background-color:#00A4E5;
padding: 11px 30px;
}
.cap__content{
    margin-top: 80px;
    
}
.cap__item:nth-child(1)::before{
    background-image: url(./img/logo\ cap1.png);
}
.cap__item:nth-child(2)::before{
    background-image: url(./img/logo\ cap\ 2.png);
}
.cap__item:nth-child(3)::before{
background: url(./img/logo\ cap\ 3.png);
}
.cap__item::before{
content: "";
width: 65.625px;
height: 75px;
display: block;
margin-bottom: 25px;
}
.cap__item{
    outline: 1px solid #E6E6E6;
    background-color: #FFF;
    width: 295px;
    height: 330px;
    padding: 30px 22px 40px 23px;
   
}
.cap__list{
    display: flex;
    gap: 30px;
}
@media (max-width:780px) {
    .cap__list{
      justify-content: center;
      flex-wrap: wrap;
    }
    .cap__container{
        margin-bottom: 0;
    }
}
.cap__title2{
    color: #48555B;
margin-bottom: 13px;
font-family: "OpenSans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.cap__text{
    color: #48555B;

font-family: "OpenSans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
}
.amaisingBuild{
    background: url(./img/img\ big1.jpg);
    background-repeat:repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 1438px;
    width: 100%;
    height: 500px;
    text-align: center;
}
@media(max-width:780px){
    .amaisingBuild {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Додаємо цей стиль для адаптивного фона */
    }
}
.amaisingB__title{
    padding-top: 120px;
    color: #48555B;
width: 350px;
margin-right: auto;
margin-left: auto;
margin-bottom: 35px;

font-family: 'OpenSans';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
letter-spacing: 0.15px;
}
@media(max-width:660px){
    .amaisingB__title{
        font-size: 25px;
        padding-top: 100px;
        width: 100%;
    }
    
}
@media(max-width:780px){
    .sub{
        margin-bottom: 50px;
    }
}
.form-input{
    width: 250px;
height: 40px;
    border-radius: 4px;
    border: 1px solid #979797;
background: #FFF;
padding-left: 16px;
}
.form-email:hover,
.form-input:focus{
border:1px solid blue ;
}
.emailForm{
    background-color:#171819;
    max-width: 1438px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.emailForm__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media(max-width:660px){
    .emailForm__container{
        display: block;
    }
}
.emailForm__title{
    color: #FFF;
    text-align: center;
    font-family: "OpenSans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 70px;
}
.form-button{
  padding: 12px 49px 11px 48px;
  /* transform: translateX(-5px); */
}
.form-email{
    display: flex;
    align-items: stretch;
}
@media(max-width:660px){
    .form-email{
        display: block;
      text-align: center;
    }
    .form-input{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .emailForm__title{
        margin-right: 0;
    }
}
.footer{
    max-width: 1438px;
    width: 100%;
    height: 100%;
    background: #141A20;
    margin-left: auto;
    margin-right: auto;
}

.footer__context{
    display: flex;

    padding-top: 42px;
    gap: 40px;
    height: 100%;
    margin-bottom: 40px;
}
@media(max-width:890px){
    .footer__context{
        display:block ;
  text-align: center;
    }
 
}
.footer__label1{
    margin-bottom: 15px;
    color: #FFF;
/* text-align: left; */
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media(min-width:891px){
    .footer__label1{
  text-align: left;
    }
 
}
.heade__logo{
    margin-bottom: 15px;
}
.footer__text{
    color: #FFF;
    width: 250px;
    height: 76px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px; 
}
@media(max-width:890px){
    .footer__text{
  margin-left: auto;
  margin-right: auto;
    }
 
}
.footer__list2{
    color: #FFF;
margin-bottom: 2px;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
}
@media(max-width:890px){
    .footer__list2{
  display: flex;
  justify-content: center;
  gap: 10px;
    }
 
}
.footer__menu1{
    color: #FFF;
padding-top: 25px;
    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.footer__adres,
.footer__tel,
.footer__email{
    color: #FFF;
margin-bottom: 5px;

    font-family: "OpenSans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.footer__adres{

}
.dezign{
    background-color: #171819;
}
.dezign__text{
    color: #FFF;
text-align: center;
font-family: "OpenSans";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-top: 23px;
    padding-bottom: 23px;
}
.button:hover,
.button:focus{
    color: #48555B;
    background-color:aqua;
transition-duration: 1s;
}
